{% extends 'base.html.twig' %}

{% block title %}Hello {{ parent() }}!{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h4>Ajout d'un nouvel évenement</h4>

{{ form_start(form, { 'attr': { 'novalidate': 'novalidate',
                                'class':'text-whitem p-3' } }) }}
{{ form_widget(form) }}
{# {{ form_row(form.createdAt = date()) }} #}
<button type="submit" class="btn btn-success">Ajouter</button>
{{ form_end(form) }}

{% endblock %}
