{% extends 'base.html.twig' %}

{% block title %}Hello {{ parent() }}!{% endblock %}

{% block body %}

<h1>{{event.name}}</h1>
<img src={{event.poster}} />
<p>Date de début : {{ event.startAt | date() }}</p>
<p>Fin de fin : {{ event.endAt | date() }}</p>
<p>Description : {{ event.content }}</p>
<p>Prix : {{ event.price }}</p>



{% endblock %}
